{% extends 'webapp/base.html' %}
{% load custom_tags %}  <!-- Load the custom template tag library -->

{% block content %}

    <body>
        <br>
        <br>

        <div class="text-center">
            <h3> Projectx..... Management at it's finest </h3>
            <br>
            <h5> Keep track of your records effectively! </h5>

            <hr>

            <br>

            <a class="btn btn-black" type="button" href="{% url 'register' %}" style="background-color: black; color: white;">Create your account &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i></a>

        </div>

    </body>

{% endblock %}