{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %} <!-- Load the custom template tag library -->

{% block content %}

<body>
    <div class="container bg-light shadow-md p-5">
        <h3>Login to your account</h3>
        <hr>
        <br>

        <form method="POST" autocomplete="off">
            {% csrf_token %}

            {% for field in form %}
            {% if field|is_checkbox %} <!-- Use the custom is_checkbox filter -->
            {{ field|crispy }}
            {% else %}
            {{ field|as_crispy_field }}
            {% endif %}
            {% endfor %}

            <br>

            <!-- For the "Login" button -->
            <button type="submit" class="btn btn-black w-100 btn-block p-2"
                style="background-color: black; color: white;">
                Login
            </button>

        </form>
        <br>
        <div class="text-center">
            <p>Already have an account </p> <a href="{% url 'register' %}" style="color: black;">Register</a>

        </div>
    </div>
</body>
{% endblock %}