{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}
{% load custom_tags %}  <!-- Load the custom template tag library -->

{% block content %}
<body>
    <div class="container bg-light shadow-md p-5">
        <h3>Update record</h3>
        <h6>Update your record down below.</h6>
        <hr>
        <br>
        <form method="POST" autocomplete="off">
            {% csrf_token %}

            {% for field in form %}
                {% if field|is_checkbox %}  <!-- Use the custom is_checkbox filter -->
                    {{ field|crispy }}
                {% else %}
                    {{ field|as_crispy_field }}
                {% endif %}
            {% endfor %}

            <br>
            <button type="submit" class="btn btn-primary w-100 btn-block p-2">
                Update record &nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <br>
</body>
{% endblock %}